<header class="hero-header">
  <h1>Historia del Fútbol ⚽</h1>
  <nav>
    <ul class="nav-menu">
      <li><a routerLink="/" routerLinkActive="active" class="nav-link">Inicio</a></li>
      <li><a routerLink="/equipos" routerLinkActive="active" class="nav-link">Equipos</a></li>
      <li><a routerLink="/jugadores" routerLinkActive="active" class="nav-link">Jugadores</a></li>
      <li><a routerLink="/clasicos" routerLinkActive="active" class="nav-link">Clásicos</a></li>
      <li><a routerLink="/historia" routerLinkActive="active" class="nav-link">Historia</a></li>
      <li><a routerLink="/juego" routerLinkActive="active" class="nav-link">Juego</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

